<div class="login-wrapper ">

  <div class="bg-pic">

    <img src="https://images.unsplash.com/photo-1433574466251-fe1be0d9b3d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8059e118396db74fbfea534f808c5c6f&auto=format&fit=crop&w=2851&q=80" data-src="https://images.unsplash.com/photo-1433574466251-fe1be0d9b3d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8059e118396db74fbfea534f808c5c6f&auto=format&fit=crop&w=2851&q=80" data-src-retina="https://images.unsplash.com/photo-1433574466251-fe1be0d9b3d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8059e118396db74fbfea534f808c5c6f&auto=format&fit=crop&w=2851&q=80" alt="" class="lazy">

  </div>

  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <img src="assets/img/logo_2x.png" alt="logo" data-src="assets/img/logo_2x.png" data-src-retina="assets/img/logo_2x.png" width="78" height="78">
      <p class="p-t-35">Sign into your pages account</p>

      <form id="form-login" class="p-t-15" role="form"  novalidate="novalidate">

        <div class="form-group form-group-default">
          <label>Login</label>
          <div class="controls">
            <input type="text" name="username" placeholder="Email" class="form-control" required="" aria-required="true">
          </div>
        </div>


        <div class="form-group form-group-default">
          <label>Password</label>
          <div class="controls">
            <input type="password" class="form-control" name="password" placeholder="Password" required="" aria-required="true">
          </div>
        </div>

        <button class="btn btn-primary btn-cons m-t-10">Sign in</button>
      </form>

      <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
          <div class="col-sm-3 col-md-2 no-padding">
            <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon_2x.png" width="60">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
