<div class="login-wrapper ">

  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <img src="assets/img/logo_2x.png" alt="logo" data-src="assets/img/logo_2x.png" data-src-retina="assets/img/logo_2x.png" width="78" height="78">
      <p class="p-t-35">Register</p>

      <form id="form-login" class="p-t-15" role="form"  novalidate="novalidate">

        <div class="form-group form-group-default">
          <label>Email</label>
          <div class="controls">
            <input #email type="text" name="email" placeholder="Email" class="form-control" required="" aria-required="true">
          </div>
        </div>

        <div class="form-group form-group-default">
          <label>Username</label>
          <div class="controls">
            <input #username type="text" name="username" placeholder="Username" class="form-control" required="" aria-required="true">
          </div>
        </div>

        <div class="form-group form-group-default">
          <label>Password</label>
          <div class="controls">
            <input #password type="password" class="form-control" name="password" placeholder="Password" required="" aria-required="true">
          </div>
        </div>

        <div class="form-group form-group-default">
          <label>Password Confirmation</label>
          <div class="controls">
            <input #passwordConfirmation type="password" class="form-control" name="passwordConfirmation" placeholder="Password Confirmation" required="" aria-required="true">
          </div>
        </div>

        <button (click)="register(email.value, username.value, password.value, passwordConfirmation.value)" class="btn btn-primary btn-cons m-t-10">Sign up</button>
      </form>

      <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
          <div class="col-sm-3 col-md-2 no-padding">
            <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon_2x.png" width="60">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
