.product-img {
  object-fit: contain;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}

.img-cat {
  object-fit: cover;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}
