<div class="p-5">

<div *ngIf="step === 0" class="row animated slideInRight">
  <div class="card col-12 w-90 p-3">
    <div class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Sélectionner</h1>
        <p class="lead text-muted">Comment souhaitez-vous recycler aujourd'hui ?</p>
      </div>
    </div>
  <div class="card-body text-center">
    <button (click)="step = 1" class="btn btn-lg btn-success" role="button">Jeter ou donner</button>
    <button class="btn btn-lg btn-outline-success" role="button">Chercher</button>
  </div>
  </div>
</div>

<section *ngIf="step === 1" class="row category animated slideInRight">
  <div class="col-12 card w-90 p-3">
    <div class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Catégories</h1>
        <p class="lead text-muted">Veuillez choisir la catégorie correspondant à l'objet que souhaitez disposer</p>
      </div>
    </div>

    <div class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div *ngFor="let cat of categories" class="col-md-3">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <p> {{cat.name}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

</div>
