.product-img {
  object-fit: contain;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}

agm-map {
  height: 100%;
}
.img-cat {
  object-fit: cover;
  max-height: 200px;
  overflow: hidden;
}
