.product-img {
  object-fit: contain;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}

agm-map {
  height: 100%;
}
.img-cat {
  object-fit: cover;
  max-height: 200px;
  overflow: hidden;
}

hr.style1{
  border-top: 1px solid #8c8b8b;
  width:40px;
  border:20px;
}
