
<div class="p-5">

<div class="col-12 card w-90 p-3">

  <h1 class="ml-4 mt-3">Produit disponible</h1>
  <div class="row mb-3">
    <div class="col-md-8 col-12">
      <div class="row pl-4">

        <div class="col-12 col-md-4">
          <div class="card m-2 box-shadow">
            <img class="card-img-top img-item" src="https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <h4> Nom du produit </h4>
              <h5><i class="fa fa-map-marker" aria-hidden="true"> Adresse user</i></h5>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card m-2 box-shadow">
            <img class="card-img-top img-item" src="https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <h4> Nom du produit </h4>
              <h5><i class="fa fa-map-marker" aria-hidden="true"> Adresse user</i></h5>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card m-2 box-shadow">
            <img class="card-img-top img-item" src="https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <h4> Nom du produit </h4>
              <h5><i class="fa fa-map-marker" aria-hidden="true"> Adresse user</i></h5>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card m-2 box-shadow">
            <img class="card-img-top img-item" src="https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <h4> Nom du produit </h4>
              <h5><i class="fa fa-map-marker" aria-hidden="true"> Adresse user</i></h5>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card m-2 box-shadow">
            <img class="card-img-top img-item" src="https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <h4> Nom du produit </h4>
              <h5><i class="fa fa-map-marker" aria-hidden="true"> Adresse user</i></h5>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card m-2 box-shadow">
            <img class="card-img-top img-item" src="https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <h4> Nom du produit </h4>
              <h5><i class="fa fa-map-marker" aria-hidden="true"> Adresse user</i></h5>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4 itemsMap affix d-none d-none d-md-block">
      <div class="card m-2 box-shadow h-100">
        <div class="card-body">
          <p> test </p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
