<div class="row">
  <div class="col-md-8 col-12">
    <div class="row pl-4">

      <div class="col-12 col-md-4">
        <div class="card m-2 box-shadow">
          <div class="card-body">
            <p> test </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card m-2 box-shadow">
          <div class="card-body">
            <p> test </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card m-2 box-shadow">
          <div class="card-body">
            <p> test </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 itemsMap affix d-none d-none d-md-block">
    <div class="card m-2 box-shadow h-100">
      <div class="card-body">
        <p> test </p>
      </div>
    </div>

  </div>
</div>
