.buttonWhite{
  background-color: white;
  border-color: #288052;
  border-radius: 1.85rem;
  color: #288052;
}

.buttonColor{
  border-radius: 1.85rem;
  background-color: #288052;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.bgJombotron {
  background-color: transparent;
}

.cardItemText {
  text-align: center;
  color: #29a746;
  font-size: 20px;
}

.cardBorderBottom {
  border-bottom: 6px solid #28a745;
  border-radius: .3rem;
}
