<div class="p-5">

  <section *ngIf="step === 1" class="row category animated fadeIn">
    <div class="col-12 card w-90 p-3 shadow border-0">
      <div class="jumbotron text-center bgJombotron">
        <div class="container">
          <h1 class="jumbotron-heading">Catégories</h1>
          <p class="lead text-muted">Veuillez choisir la catégorie correspondant à l'objet que souhaitez trouver</p>
        </div>
      </div>

      <div class="py-5 bg-light">
        <div class="container">
          <div class="row">
            <div *ngFor="let cat of searchCategories" class="col-md-3">
              <div (click)="getItemCategorie(cat)" class="card mb-4 shadow border-0 cardBorderBottom">
                <img class="card-img-top" src="{{cat.image}}">
                <div class="card-body">
                  <h3 class="cardItemText"> {{cat.name}} </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

