.bgCard {
  background-size: cover;
  background-image: url(../../assets/img/backgroundCard.svg);
}

.product-img {
  object-fit: contain;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}
