
<div class="photo-gallery">
  <div class="container">

    <div class="intro">
      <h2 class="text-center">Upload your own pictures</h2>
      <div class="text-center">
        <ngx-uploadcare-widget class="text-center"
                               images-only="true"
                               data-crop="free"
                               public-key="c49dd3401f80bb6419e1"
                               (on-upload-complete)="onUploadHandler($event)"
                               (on-change)="onChangeHandler($event)">
        </ngx-uploadcare-widget>
      </div>
    </div>

    <div class="" style="margin-bottom: 20px">
      <div class="text-center" style="background-color: white">
        <div style="max-width: 970px;margin: 0 auto;height: 60px;font-size: 25px;">
          <input #searchInput (keyup.enter)="getImages(searchInput.value)" class="form-control" placeholder="Search ..." style="max-width: 100%;height: 60px;font-size: 25px">
        </div>
      </div>
    </div>

    <div class="row photos mt-3">
      <div *ngFor="let image of images" class="col-lg-3 col-md-4 col-sm-6 item">
        <a><img class="img-responsive" src="{{image.url}}"></a>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <h5>S2TW ©</h5></div>
      <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
    </div>
  </div>
</footer>
