<div class="row mb-4">
  <div class="col-12 text-center">
    <button class="btn btn-success">Gérer mes déchets</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <h1 class="mb-4">R, permet</h1>
      <p  class="lead">Add your favorite products to your watchlist and we'll let you know when the price drops.</p>
      <p >We'll update you everyday ;)</p>
      <p class="lead text-center"><a class="btn btn-primary btn-lg mt-2" href="/signup" role="button">Sign Up</a></p>
    </div>
  </div>
</div>
