<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <h4 class="mb-3">S'enregistrer</h4>
      <form>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="lastName">Nom</label>
            <input #lastname type="text" class="form-control" id="lastName" required="">
          </div>
          <div class="col-md-6 mb-3">
            <label for="firstName">Prénom</label>
            <input #firstname type="text" class="form-control" id="firstName" required="">
          </div>
        </div>

        <div class="mb-3">
          <label for="adress">Adresse</label>
          <input #address ngx-google-places-autocomplete [options]="{types: [],componentRestrictions: { country: 'CA' }}" id="adress" class="form-control" placeholder=" " (onAddressChange)="onChange($event)"/>
        </div>

        <div class="mb-3">
          <label for="phoneNumber">Numéro de téléphone</label>
          <input #phoneNumber type="text" class="form-control" id="phoneNumber" required="">
        </div>

        <div class="mb-3">
          <label for="email">Adresse Courriel</label>
          <input #email type="text" class="form-control" id="email" required="">
        </div>

        <div class="mb-3">
          <label for="password">Mot de passe</label>
          <input #password type="password" class="form-control" id="password" required="">
        </div>

        <div class="mb-3">
          <label for="passwordConfirm">Confirmer le mot de passe</label>
          <input #passwordConfirmation type="password" class="form-control" id="passwordConfirm" required="">
        </div>

        <button (click)="register(lastname.value, firstname.value, address.value, phoneNumber.value, email.value, password.value, passwordConfirmation.value)" class="btn btn-success btn-lg btn-block" type="submit">S'enregistrer</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>


